name: Deployment Pipeline

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Disable Buildx
        run: docker buildx rm default || true

      - name: Build Docker image
        run: |
          TAG=${GITHUB_RUN_NUMBER}
          docker build . -t ${{ secrets.DOCKERHUB_REPO }}:$TAG

      - name: Push Docker Image
        run: |
          TAG=${GITHUB_RUN_NUMBER}
          docker push ${{ secrets.DOCKERHUB_REPO }}:$TAG

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            TAG=${GITHUB_RUN_NUMBER}
            docker stop app || true
            docker rm app || true
            docker pull ${{ secrets.DOCKERHUB_REPO }}:$TAG
            docker run -d --name app -p 80:80 ${{ secrets.DOCKERHUB_REPO }}:$TAG
